TOOLS_CONFIG_DIR=$(dirname $(realpath "$0"))

bash_rc_files=$(find "${TOOLS_CONFIG_DIR}/configs"  -type f -name \*.rc)

for file_to_load in ${bash_rc_files};
do 
    echo $file_to_load
    if [ -f "$file_to_load" ];
    then
        . $file_to_load
        echo "loaded $file_to_load"
    fi
done
