
TOOLS_CONFIG_DIR=$(dirname $(realpath "$0"))

bash_rc_files=$(find "${TOOLS_CONFIG_DIR}/configs"  -type f -name \*.rc)

for file_to_load in ${(f)bash_rc_files};
do 
    echo $file_to_load
    source $file_to_load
    echo "loaded $file_to_load"
done
